// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #6a8caf;
$yellow: #eef9bf;
$orange: #E67E22;
$green: #75b79e;
$green-opaque: #75b79e60;
$light-green: #a7e9af;
$gray: #333333;
$light-gray: #F4F4F4;
$dark-grey: #555555;
