// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #4E677F;
$yellow: #eef9bf;
$orange: #E67E22;
$green: #75b79e;
$blue-opaque: #4E677F60;
$light-green: #a7e9af;
$gray: #454F58;
$light-gray: #F4F4F4;
$dark-gray: #64727F;
