<div class="footer-tibo">
  <p class="footer-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, a!</p>
  <p class="footer-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, in.</p>
  <p class="footer-text">Website made by <a class="footer-link" href="www.basilequinchon.com"><strong>Basile Quinchon</strong></a></p>
</div>
