<div class="footer-tibo py-4 mx-auto px-auto">
  <div class="container">
    <div class="row align-items-baseline">
      <div class="col-lg-3 col-10 col-sm-6 col-md-4 footer-text border-left px-auto mx-auto">
        <strong>MENU</strong>
        <br>
        <a class='footer-link' href="#">
          Acceuil
        </a>
        <br>
        <a class='footer-link' href="#presentation">À propos</a>
        <br>
        <a class='footer-link' href="#nav-tab">Travaux</a>
        <br>
        <a class='footer-link' href="#contact">Contact</a>
      </div>
      <div class="col-lg-3 col-10 col-sm-6 col-md-4 footer-text border-left px-auto mx-auto">
        <strong>ADMINISTRATION</strong>
        <br>
        <% if user_signed_in? %>
          <%= link_to 'Ajouter projet', new_project_path, class: 'footer-link' %>
          <br>
          <%= link_to 'Editer / Supprimer des projets', projects_path, class: 'footer-link' %>
          <br>
          <em><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "footer-link" %></em>
        <% else %>
          <%= link_to 'Admin', new_user_session_path, class: 'footer-link' %>
        <% end %>
      </div>
      <div class="col-lg-3 col-10 col-sm-6 col-md-4 footer-text border-left px-auto mx-auto">
        <strong>CONTACT</strong>
        <br>
        Thibault Inglebert
        <br>
        <i class="fas fa-palette"></i> - Graphiste Motion Designer
        <br>
        <a href="mailto:thibaultinglebert@hotmail.fr" class="footer-link"><i class="fas fa-envelope"></i> - thibaultinglebert@hotmail.fr</a>
        <br>
        <a href="tel:+33632903860" class='footer-link'><i class="fas fa-mobile-alt"></i> - 06 32 90 38 60</a>
        <br>
        <a href="https://www.linkedin.com/in/thibault-inglebert-75716664/" class='footer-link'><i class="fab fa-linkedin"></i> - Linkedin</a>

      </div>
      <div class="col-lg-3 col-10 col-sm-6 col-md-4 footer-text border-left px-auto mx-auto">
        <strong>MENTIONS</strong>
        <br>
        © février 2020
        <br>
        Site construit par <a class="footer-link" href="https://www.basilequinchon.com"><em>Basile Quinchon</em></a>
      </div>
    </div>
  </div>
</div>

