<div class="footer-tibo">
  <p class="footer-text">
    ADMINISTRATION
    <br>
    <% if user_signed_in? %>
      <%= link_to '+ Ajouter projet', new_project_path, class: 'footer-link' %>
      <br>
      <%= link_to 'Editer / Supprimer des projets', projects_path, class: 'footer-link' %>
      <br>
      <em><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "footer-link" %></em>
    <% else %>
      <%= link_to 'Admin', new_user_session_path, class: 'footer-link' %>
    <% end %>
  </p>
  <p class="footer-text">
    INFORMATIONS
    <br>
    <a href="tel:+33632903860" class='footer-link'>Joindre par téléphone</a>
    <br>
    <a href="https://www.linkedin.com/in/thibault-inglebert-75716664/" class='footer-link'>Linkedin</a>

  </p>
  <p class="footer-text">
    MENTIONS
    <br>
    © janvier 2020
    <br>
    Site construit par <a class="footer-link" href="https://www.basilequinchon.com">Basile Quinchon</a>
  </p>
</div>
