<div class="modal fade bd-example-modal-sm" tabindex="-1" id="loadingModal" role="dialog" aria-labelledby="loadingModal" aria-hidden="true">
  <div class="modal-dialog modal-sm d-flex justify-content-center align-items-center" role="document">
    <div class="modal-content">
      <div class="d-flex align-items-center">
        <div class="spinner-grow text-light" role="status">
          <span class="sr-only"></span>
        </div>
        <span class='loading-text ml-3 mb-0'>Veuillez patienter pendant que la page se charge...</span>
      </div>
    </div>
  </div>
</div>
