<div class="sidebar-tibo hidden-top">
  <div class="sidebar-nav">
    <a class='hvr-sweep-to-right' href="#">
      <p>THIBAULT INGLEBERT</p>
    </a>
    <a class='hvr-sweep-to-right' href="#presentation"><p>PRÉSENTATION</p></a>
    <a class='hvr-sweep-to-right' href="#nav-tab"><p>TRAVAUX</p></a>
    <a class='hvr-sweep-to-right' href="#contact"><p>ME CONTACTER</p></a>
  </div>
</div>
