<div class="sidebar-tibo">
  <div class="sidebar-nav">
    <i class="fas fa-times"></i>
    <a href="#">
      <p>THIBAULT INGLEBERT</p>
    </a>
    <a href="#presentation"><p>.MOI</p></a>
    <a href="#nav-tab"><p>PROJETS</p></a>
    <a href="#contact"><p>CONTACT</p></a>
  </div>
</div>
