<div class="sidebar-tibo hidden-top">
  <div class="sidebar-nav">
    <a class='hvr-sweep-to-right' href="#">
      <p>THIBAULT INGLEBERT</p>
    </a>
    <a class='hvr-sweep-to-right' href="#presentation"><p>.MOI</p></a>
    <a class='hvr-sweep-to-right' href="#nav-tab"><p>PROJETS</p></a>
    <a class='hvr-sweep-to-right' href="#contact"><p>CONTACT</p></a>
  </div>
</div>
