<div class="presentation-container">
  <div class="presentation-card d-flex justify-content-between align-items-center my-3">
    <div data-aos="fade-right" class='presentation-card__image mr-5'><%= image_tag "creative_process_.svg", alt: "creative_process", width: 300 %></div>
    <div data-aos="fade-left" class="presentation-card__text text-justify">
      <h1>GRAPHISME</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo necessitatibus quibusdam ipsam blanditiis sed aperiam, praesentium enim vitae earum magnam cum, possimus soluta optio molestias. Blanditiis impedit obcaecati, repudiandae libero.</p>
    </div>
    <div class="presentation-background-left rellax">
    </div>
  </div>
  <div class="presentation-card d-flex justify-content-between align-items-center my-3">
    <div data-aos="fade-right" class="presentation-card__text text-justify">
      <h1>TRAVAIL D'ÉQUIPE</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus quibusdam aut dolore reiciendis aliquid ipsa voluptatibus illum quia sunt laudantium nulla vel veritatis, incidunt similique doloribus, illo perspiciatis! Vero, nihil.</p>
    </div>
    <div data-aos="fade-left" class='presentation-card__image ml-5'><%= image_tag "problem_solving.svg", alt: "problem_solving", width: 300 %></div>
    <div class="presentation-background-right rellax" data-rellax-speed="-1">
    </div>
  </div>
  <div class="presentation-card d-flex justify-content-between align-items-center my-3">
    <div data-aos="fade-right" class='presentation-card__image mr-5'><%= image_tag "digital_nomad.svg", alt: "digital_nomad", width: 300 %></div>
    <div data-aos="fade-left" class="presentation-card__text text-justify">
      <h1>FREELANCE</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis tempore velit dignissimos consequatur ipsum at repudiandae ipsa, ea commodi rem cumque perspiciatis vero. Et est, harum officiis quod cumque nulla?</p>
    </div>
    <div class="presentation-background-left rellax">
    </div>
  </div>
  <div class="presentation-card d-flex justify-content-between align-items-center my-3">
    <div data-aos="fade-right" class="presentation-card__text text-justify">
      <h1>PROFESSIONNEL</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, delectus, ducimus harum a asperiores placeat necessitatibus, pariatur fuga, incidunt porro temporibus dolores omnis nisi. Id excepturi accusantium, fugiat deserunt totam.</p>
    </div>
    <div data-aos="fade-left" class='presentation-card__image ml-5'><%= image_tag "wireframe.svg", alt: "wireframe", width: 300 %></div>
  </div>
</div>
