<div class="presentation-container py-5" id='presentation'>
  <div class="presentation-card right-left justify-content-between my-3">
    <div data-aos="fade-right" class='presentation-card__image mr-5'><%= image_tag "creative_process_.svg", alt: "creative_process", width: 300 %></div>
    <div data-aos="fade-left" class="presentation-card__text">
      <h1>FORMATION</h1>
      <p>Formé aux techniques de <strong>marketing et de communication</strong> lors
de mes études économiques, puis maintenant <strong>graphiste curieux, motivé
et désireux d’enrichir mes compétences</strong>, je suis à la recherche de missions en tant que <strong>Graphiste Motion Designer</strong></p>
    </div>
    <div class="presentation-background-left rellax">
    </div>
  </div>
  <div class="presentation-card left-right justify-content-between my-3">
    <div data-aos="fade-right" class="presentation-card__text">
      <h1>EXPERIENCE</h1>
      <p>Lors de mes <strong>4 années en agence </strong>et <strong>6 années en freelance</strong>,
j’ai obtenu l’expérience nécessaire et développé un regard exigeant
pour proposer un <strong>travail de DA et d’éxécution sur tous types de supports</strong>
d’impression, mais également sur un bon nombre de supports digitaux</p>
    </div>
    <div data-aos="fade-left" class='presentation-card__image ml-5'><%= image_tag "problem_solving.svg", alt: "problem_solving", width: 300 %></div>
    <div class="presentation-background-right rellax" data-rellax-speed="-1">
    </div>
  </div>
  <div class="presentation-card right-left justify-content-between my-3">
    <div data-aos="fade-right" class='presentation-card__image mr-5'><%= image_tag "digital_nomad.svg", alt: "digital_nomad", width: 300 %></div>
    <div data-aos="fade-left" class="presentation-card__text">
      <h1>ANIMATION</h1>
      <p>Ayant travaillé en étroite collaboration avec des Motion designers
sur la création de story-boards, j’ai pu développer un <strong>intérêt profond
pour l’animation graphique</strong> et j’ai commencé à en comprendre les enjeux.
Aujourd’hui, après avoir acquis les compétences techniques, j'ai transformé cette envie en métier.</p>
    </div>
    <div class="presentation-background-left rellax">
    </div>
  </div>
  <!-- <div class="presentation-card left-right justify-content-between my-3">
    <div data-aos="fade-right" class="presentation-card__text text-justify">
      <h1>PROFESSIONNEL</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, delectus, ducimus harum a asperiores placeat necessitatibus, pariatur fuga, incidunt porro temporibus dolores omnis nisi. Id excepturi accusantium, fugiat deserunt totam.</p>
    </div>
    <div data-aos="fade-left" class='presentation-card__image ml-5'><%= image_tag "wireframe.svg", alt: "wireframe", width: 300 %></div>
  </div> -->
</div>
