<div class="show-project-card">
  <div class="carousel carousel-main">
    <% @project.photos.each_with_index do |photo, index| %>
    <div class="carousel-cell">
      <%= cl_image_tag photo.key, alt: "#{@project.client}#{@project.category}#{index + 1}" %>
    </div>
    <% end %>
  </div>
  <div class="carousel carousel-nav">
    <% @project.photos.each_with_index do |photo, index| %>
    <div class="carousel-cell">
      <%= cl_image_tag photo.key, alt: "#{@project.client}#{@project.category}#{index + 1}" %>
    </div>
    <% end %>
  </div>
</div>
