.banner-tibo {
  position: relative;
  width: 100vw;
  height: 115vh;
  background-size: cover !important;
  background-position: 0 0% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);

  h1 {
    background: $green;
    padding: .5rem 1rem;
    font-size: 3rem;
  }

  h1, p {
    font-weight: bold;
    color: rgba(255,255,255,0.96);
  }

  p {
    font-size: 1.5rem;
  }
}
