.banner-border {
  width: 100vw;
  height: 114vh;
  background: $blue;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 80%);
}

.banner-tibo {
  width: 100vw;
  height: 113vh;
  background-size: cover !important;
  background-position: center -140px !important;
  background-repeat: no-repeat !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 80%);

  .banner-tibo__title {
    text-align: end;
  }

  .banner-tibo__main-title {
    font-size: 2rem;
    width: fit-content;
  }

  .banner-tibo__main-title,
  .banner-tibo__subtitle {
    color: $blue;
    text-shadow: 0px 4px 16px rgba(255,255,255,0.2);
    margin-bottom: 0px;
  }

  .banner-tibo__subtitle {
    font-size: 2rem;
  }

  .banner-tibo__links {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .banner-tibo__links__projets,
  .banner-tibo__links__presentation,
  .banner-tibo__links__contact {
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    transition: box-shadow .3s;
    color: $blue;
    box-shadow: none;

    &:hover {
      box-shadow: 0px 4px 0px $blue;
    }
  }
}

@media(max-width: 500px) {
  .banner-container {
    flex-direction: column;
  }

  .banner-tibo__title,
  .banner-tibo__links {
    text-align: center !important;
    margin-right: 0px !important;
  }
}
