.btn-tibo-primary {
  background: $blue;
  color: white !important;
  padding: .5rem 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  transition: backgound .3s;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.1);
  transition: background .3s;

  &:hover {
    background: $green;
  }
}
