.carousel-item img,
.modal-dialog {
  max-width: 80vw !important;
  width: 100%;
  height: 80vh !important;
  max-height: 80vh !important;
  margin: 2vh auto;
}

.carousel-item img {
  object-fit: contain;
}

.carousel-indicators {
  bottom: -2rem;

  li {
    width: 80px;
  }
}

.carousel-item {
  transition: transform .6 ease-in-out;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  padding: .7rem;
  background-color: $blue;
  border-radius: 50%;
  color: #fff;
  border: 10px solid $blue;
}

.carousel-control-prev-icon {
  background-position: -2px 0px;
}

.carousel-control-next-icon {
  background-position: 2px 0px;
}

.modal-content {
  background: transparent;
  border: none;
}

body.modal-open .all-content{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

@media(max-width: 476px) {
  .carousel-item img,
  .modal-dialog {
    height: 30vh !important;
    max-height: 30vh !important;
    margin: 25% auto;
  }
}
