* { box-sizing: border-box; }

.show-project-card {
}

.show-project-card__text {
  position: absolute;
  bottom: 5%;
  left: 10%;
}

.show-project-card__category,
.show-project-card__description,
.show-project-card__date,
.show-project-card__client {
  width: fit-content;

  padding: .25rem .5rem;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);

  p, h1 {
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0px;
  }
}

.show-project-card__category,
.show-project-card__date {
  background: $green;
  color: white;
  transform: skew(-10deg);
}

.show-project-card__description {
  background: white;
  color: $blue;
  transform: skew(10deg);
}

.show-project-card__client {
  background: $red;
  // padding: .5rem 1rem;
  color: $white;
  text-align: end;
  transform: skew(10deg);
}

.show-project-card__date p {
  text-align: end;
}

.carousel {
  position: relative;
  background: $blue;
}

.carousel-cell {
  width: 90%;
  height: 100vh;
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  display:         flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.carousel-cell img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* dim unselected */
  opacity: 0.7;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
          transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.carousel-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell {
    height: 100vh;
  }
}

@media screen and ( min-width: 960px ) {
  .carousel-cell {
    width: 60%;
  }
}

@media(max-width: 768px) {
  .show-project-card__text {
    left: 5%;
    bottom: 5%;
    width: 90vw;
  }

  .carousel-cell {
    height: 100vh;
  }
}

/* buttons, no circle */
.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  background: transparent;
  opacity: 0.6;
}
.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* closer to edge */
.flickity-prev-next-button.previous { left: 0; }
.flickity-prev-next-button.next { right: 0; }
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

