.carousel {
  background: transparent;
  box-sizing: border-box;
}

.carousel img {
  display: block;
  height: 40vh;
  box-sizing: border-box;
}

.show-project-card__category,
.show-project-card__description,
.show-project-card__date,
.show-project-card__client {
  color: $blue;
  text-align: center;

  p, h1 {
    margin-bottom: 0px;
  }

  p {
    font-size: 1rem;
  }

  h1 {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0px;
  }
}

@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 80vh;
    box-sizing: border-box;
  }
}
