.presentation-card__image {
  flex: 0 0 40%;

  img {
    width: 100%;
  }
}

.presentation-card__text {
  color: #33333380;

  h1 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  p {
    font-size: 1.25rem;
  }
}

.presentation-card {
  padding: 0 12.5%;
  position: relative;
  display: flex;
}

.presentation-background-left,
.presentation-background-right {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 60vh;
  width: 100vw;
  background-color: $green;
  z-index: -10;
}

.presentation-background-left {
  clip-path: polygon(100% 21%, 100% 4%, 0 38%, 0 22%);
}

.presentation-background-right {
  clip-path: polygon(0 37%, 100% 46%, 0 41%, 0 42%);
}

@media(max-width: 500px) {
  .right-left {
    flex-direction: column;
  }
  .left-right {
    flex-direction: column-reverse;
  }

  .presentation-card__image {
    padding: 3rem;

    img {
      transform: scale(1.5);
      margin: 0 auto;
    }
  }
}
